* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'cocogoose';
    font-style: normal;
    font-weight: 100;
    src:
      url(./../assets/fonts/Cocogoose-Pro-Thin-trial.ttf) format("tiff");
}
@font-face {
  font-family: 'cocogoose';
  font-style: normal;
  font-weight: 200;
  src:
    url(./../assets/fonts//Cocogoose-Pro-Ultralight-trial.ttf) format("tiff");
}

@font-face {
  font-family: 'cocogoose';
  font-style: normal;
  font-weight: 300;
  src:
    url(./../assets/fonts/Cocogoose-Pro-Light-trial.ttf) format("tiff");
}

@font-face {
  font-family: 'cocogoose';
  font-style: normal;
  font-weight: 400;
  src:
    url(./../assets/fonts/Cocogoose-Pro-Semilight-trial.ttf) format("tiff");
}

@font-face {
  font-family: 'cocogoose';
  font-style: normal;
  font-weight: 500;
  src:
    url(./../assets/fonts/Cocogoose-Pro-trial.ttf) format("tiff");
}

@font-face {
  font-family: 'cocogoose';
  font-style: italic;
  font-weight: 100;
  src:
    url(./../assets/fonts/Cocogoose-Pro-Thin-Italic-trial.ttf) format("tiff");
}

@font-face {
  font-family: 'cocogoose';
  font-style: italic;
  font-weight: 200;
  src:
    url(./../assets/fonts/Cocogoose-Pro-UltraLight-Italic-trial.ttf) format("tiff");
}

@font-face {
  font-family: 'cocogoose';
  font-style: italic;
  font-weight: 300;
  src:
    url(./../assets/fonts/Cocogoose-Pro-Light-Italic-trial.ttf) format("tiff");
}

@font-face {
  font-family: 'cocogoose';
  font-style: italic;
  font-weight: 400;
  src:
    url(./../assets/fonts/Cocogoose-Pro-Semilight-Italic-trial.ttf) format("tiff");
}

@font-face {
  font-family: 'cocogoose';
  font-style: italic;
  font-weight: 500;
  src:
    url(./../assets/fonts/Cocogoose-Pro-Italic-trial.ttf) format("tiff");
}

/*Global*/
.cocogoose {
  font-family: 'cocogoose', sans-serif;
}

.text-orange {
  color: #EC5242;
}

.text-ligthgray {
  color: #D3D3D3;
}

.d-flex {
  display: flex;
}

.text-gray {
  color: #2d3038;
}

/*Nav bar*/
.navbar {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  height: 40px;
  box-shadow: 0 2px 3px 3px #272a3171 ;
  align-items: center;
  justify-content: space-between;
}

.navbar .icon{
  fill: #272A31;
  width: 30px;
  margin: 5px 0 0 5px;
} 

.big-icon {
  width: 50px;
  margin-left: 20px;
  justify-self: center;
}

@media screen and (min-width: 768px){
  .navbar {
    height: 80px;
  }
  
  .navbar .icon {
    display: none;
  }

  .big-icon {
    display: block;
  }
}

@media screen and (max-width: 768px){
  .big-icon {
    display: none;
  }
}

.links {
  margin-right: 5px;
}

.links a {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
}

@media screen and (min-width: 768px){
  .links {
    margin-right: 5px;
  }
  
  .links a {
    font-size: 1.5rem;
    margin-right: 20px;
  }
}

/*Presentation*/
.intro {
  width: 100%;
  height: 100vh;
  background: url(./../assets/images/candy-5d74c9b93f.jpg) 50% 50% no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.welcome {
  padding-top: 30px;
  width: 90%;
  flex-direction: column;
}

.welcome .title {
  font-size: 1.7rem;
  font-weight: bold;
}

.welcome p, main p {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  background-color: rgba(255, 255, 255, 0.212);
  margin-bottom: 20px;
  padding: 5px;
  width: 80%;
  align-self: center;
}

.welcome img:first-of-type {
  width: 100%;
  margin: 20px 0;
}

.date {
  font-size: 1.7rem;
  font-weight: bolder;
}

.place {
  font-size: 1.4rem;
  font-weight: bold;
}

@media screen and (min-width: 768px){
  .welcome {
    padding-top: 80px;
    width: 70%;
  }

  .welcome img:first-of-type {
    display: none;
  }

  .welcome img:last-of-type {
    width: 100%;
  }
  
  .welcome .title {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .welcome p {
    align-self: flex-start;
    max-width: 600px;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .date {
    font-size: 4rem;
  }
  
  .place {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px){

  .welcome img:last-of-type {
    display: none;
  }
  
}

/*Be Part*/

.be-part-of {
  background-color: #272A31;
  fill: #D3D3D3;
  flex-direction: column;
  align-items: center;
}

.be-part-of .tlt {
  font-weight: bold;
}

@media screen and (min-width: 768px){

}

.event {
  background-color: #d3d3d348;
  height: 15vh;
  width: 90%;
  margin: 10px; 
  justify-content: space-around;
  align-items: center;
}

.description {
  width: 50%;
  padding: 5px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 0.7rem;
}

.btn {
  background-color: #EC5242;
  border-style: none;
  width: 70%;
  height: 10vh;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  margin: 20px auto 30px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.border {
  width: 50px;
  height: 1px;
  background-color: #EC5242;
  margin-bottom: 20px;
}

.guests {
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  align-items: center;
}

.guest {
  height: 20vh;
  margin: 10px;
  align-items: center;
}
.guests hr {
  width: 30px;
}

.g-img {
  width: 110px;
  height: 110px;
  margin: 10px;
}

.text {
  width: 65%;
}

.g1 {
  background: url(./../assets/images/j-allen-brack.jpg) 0% 20% no-repeat;
  background-size: 220px;
}

.g2 {
  background: url(./../assets/images/Jeffrey_Kaplan.jpg) 80% 20% no-repeat;
  background-size: 210px;
}

.g3 {
  background: url(./../assets/images/Jeremy_Craig.jpg) 90% 55% no-repeat;
  background-size: 320px;
}

.g4 {
  background: url(./../assets/images/Michael_Chu.jpg) 80% 20% no-repeat;
  background-size: 210px;
}

.g5 {
  background: url(./../assets/images/Michael_Elliot.jpg) 80% 40% no-repeat;
  background-size: 310px;
}

.g6 {
  background: url(./../assets/images/Scott-Mercer.jpeg) 90% 20% no-repeat;
  background-size: 220px;
}


.header{
  font-weight: bolder;
  margin: 30px 10px 10px 10px;
  font-size: 1.5rem;
}

.name {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.who {
  font-size: 0.8rem;
  margin-bottom: 10px;
  font-weight: 400;
}

.bio {
  font-size: 0.7rem;
  margin-top: 5px;
}

.be-part-of .icon {
  width: 35px;
}

footer {
  margin-top: 20px;
}

.sponsors {
  width: 100vw;
  background-color: #272A31;
  height: 40vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.sponsor {
  flex-direction: column;
  align-items: center;
}

.sponsors .sponsor img {
  margin-top: 10px;
  width: 100px;
}

.rights {
  margin: auto;
  width: 80%;
  height: 20vh;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.rights div {
  font-family: 'lato', sans-serif;
  font-size: 0.7rem;
}

.rights img {
  height: 50px;
  margin-right: 10px;
}

.rights hr {
  margin: 5px ;
}

/*About Style*/
.about {
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(./../assets/images/candy-5d74c9b93f.jpg) 50% 0% no-repeat;
  text-align: center;
}

.about svg {
  width: 50%;
}

.about span {
  font-weight: bolder;
  text-decoration: underline;
}

.latest {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.past {
  margin: 10px;
  width: 90%;
  height: 30vh;
  color: white;
  font-weight: bold;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
}

.past span {
  display: block;
  margin: 0 auto;
}

.p1 {
  background: linear-gradient(#ec53429d, #ec53429d), url(../assets/images/2019.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.p2 {
  background: linear-gradient(#ec53429d, #ec53429d), url(../assets/images/2018.jpg) 50% 50% no-repeat;
  background-size: cover;
}

/*Tickets Style*/

.tickets {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

table, td {
  border: 1px solid  #D3D3D3;
  border-collapse: collapse;
  font-size: 0.8rem;
}

td {
  padding: 8px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.select {
  align-self: center;
  font-size: 0.7rem;
  font-weight: bold;
  border: 1px solid #D3D3D3;
  padding: 8px;
  border-radius: 15px;
}

.table {
  margin-top: 20px;
}